
<h1 class="title">Przypisane do ciebie odcinki</h1>

<table class="table is-striped" style="margin: auto">
  <thead>
    <tr>
      <th>Czas startowy</th>
      <th>Czas końcowy</th>
      <th>Punkt początkowy</th>
      <th>Punkt końcowy</th>
      <th>Waga Towaru</th>
      <th>Imie klienta</th>
      <th>Nazwisko klienta</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stretches.each do |stretch| %>
      <tr>
        <td><%= stretch.start_datetime.strftime('%d/%m/%Y %H:%M') %></td>
        <td><%= stretch.end_datetime.strftime('%d/%m/%Y %H:%M') %></td>
        <td><%= "(#{stretch.start_place_lat}, #{stretch.start_place_lon})"%></td>
        <td><%= "(#{stretch.end_place_lat}, #{stretch.end_place_lon})"%></td>
        <td><%= stretch.route.order.payload_weight%></td>
        <td><%= stretch.route.order.user.name %></td>
        <td><%= stretch.route.order.user.surname %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

