<%= form_with(model: truck, local: true) do |form| %>
  <% if truck.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(truck.errors.count, "error") %> prohibited this truck from being saved:</h2>

      <ul>
      <% truck.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :height %>
    <%= form.text_field :height %>
  </div>

  <div class="field">
    <%= form.label :capacity %>
    <%= form.text_field :capacity %>
  </div>

  <div class="field">
    <%= form.label :position_lat %>
    <%= form.text_field :position_lat %>
  </div>

  <div class="field">
    <%= form.label :position_lon %>
    <%= form.text_field :position_lon %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
