<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, "Czas dostarczenia towaru" %>
    <%= form.datetime_select :delivery_time %>
  </div>

  <div class="field column">
    <p style="font-size: large; font-weight: bold">Punkt startowy:</p>
    <div class="field">
      <%= form.label :name, "Szerokość geograficzna" %>
      <%= form.text_field :departure_place_lat %>
    </div>

    <div class="field">
      <%= form.label :name, "Długość geograficzna" %>
      <%= form.text_field :departure_place_lon %>
    </div>
  </div>

  <div class="field column">
    <p style="font-size: large; font-weight: bold">Punkt docelowy:</p>
    <div class="field">
      <%= form.label :name, "Szerokość geograficzna" %>
      <%= form.text_field :destination_place_lat %>
    </div>

    <div class="field">
      <%= form.label :name, "Długość geograficzna" %>
      <%= form.text_field :destination_place_lon %>
    </div>
  </div>

  <div class="field">
    <%= form.label :payload_weight %>
    <%= form.text_field :payload_weight %>
  </div>

  <div class="actions">
    <%= form.submit "Stwórz zlecenie"%>
  </div>
<% end %>
