<div class="column is-4 is-offset-4 ">
  <div class="box">
    <h3 class="is-size-4 has-text-weight-bold" style="padding-bottom: 8px">Zaloguj się!</h3>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password, "Hasło" %>
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <div class="actions">
        <%= f.submit "Zaloguj się", :class => 'button is-info' %>
      </div>
    <% end %>


    <div style="padding-top: 22px">
      <h3 class="is-size-5 has-text-weight-bold" style="padding-bottom: 8px">Nie masz konta? Zarejestruj się!</h3>
      <%= link_to 'Zarejestruj się', new_registration_path(resource_name), :class => 'button is-info' %><br />
    </div>
  </div>
</div>