<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Poltirex</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <section class="hero is-info">
      <div class="hero-body has-text-centered" style=" padding-bottom: 10px;">
        <p class = "title" style="font-size:xxx-large;">
          Poltirex
        </p>
        <p class = "subtitle">
          Marek Hering, Maciej Jabłośnki
        </p>
      </div>

      <div class="level-right" style="padding-right: 30px; padding-bottom: 5px; font-size: large">
        &nbsp;
        <% if user_signed_in? %>
        <span class="icon-text" style="padding-right: 5px">
          <span class="icon">
              <i class="fas fa fa-user"></i>
          </span>
          <span>Witaj, <%= current_user.name %>!</span>
        </span>

        <%= button_to "Wyloguj", destroy_user_session_path, method: :delete, :class => 'button is-info' %>
        <% end %>
      </div>
    </section>

    <section class="section has-text-centered">
      <div>
        <%= yield %>
      </div>
    </section>
  </body>
</html>
